@{
    ViewData["Title"] = "Contact Us";
}

<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow rounded">
                <div class="card-body">
                    <h2 class="card-title">Contact Us</h2>
                    <p>
                        For comments or inquiries, please contact us at
                        <a href="mailto:taekwondorankingproject@gmail.com">taekwondorankingproject@gmail.com</a>
                        or contact your national federation.
                    </p>
                    <p>Please include:</p>
                    <ul>
                        <li>Name</li>
                        <li>Phone Number</li>
                        <li>World Taekwondo License Number</li>
                        <li>Description</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
