@{
    ViewData["Title"] = "Home Page";
}

<div class="background-image">
    <img src="/images/World_Taekwondo_Federation_logo.svg.png" class="bg-img" />

    <div class="text-center">
        <h1 class="display-4 welcome-text">Welcome to Taekwondo Ranking!</h1>
    </div>

    <div class="button-container">
        <a href="/Regions/Country" class="btn btn-primary">Country Rankings</a>
        <a href="/Regions/Continental" class="btn btn-primary">Continental Rankings</a>
        <a href="/Regions/World" class="btn btn-primary">World Rankings</a>


    </div>
</div>


<style>
    .background-image {
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }

    .background-image .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: -1;
    }

    .button-container {
        position: absolute; 
        bottom: -250px;
        left: 50%; 
        transform: translateX(-50%); 
        z-index: 1;
        color: white;
        text-shadow: 1px 1px 4px black;

    }

    .welcome-text {
        color: grey;
        font-weight: bold;
        display: inline-block;
        margin-top: 50px; 
    }

</style>
<!-- Unauthorized Access Modal -->
<div class="modal fade" id="unauthorizedModal" tabindex="-1" aria-labelledby="unauthorizedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-warning text-dark">
                <h5 class="modal-title" id="unauthorizedModalLabel">Unauthorized</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Unauthorized access. You need to be logged in to access this page.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            if ('@TempData["ShowUnauthorizedModal"]' === 'True') {
                var modal = new bootstrap.Modal(document.getElementById('unauthorizedModal'));
                modal.show();
            }
        });
    </script>
}





