@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="button-container">
    <a href="/Home/Bulgaria" class="btn btn-primary">Bulgaria</a>
    <a href="/Home/Europe" class="btn btn-primary">Europe</a>
    <a href="/Home/World" class="btn btn-primary">World</a>
</div>

