@{
    ViewData["Title"] = "Home Page";
}

<div class="background-image">
    <img src="/images/World_Taekwondo_Federation_logo.svg.png" class="bg-img" />

    <div class="text-center">
        <h1 class="display-4 welcome-text">Welcome to Taekwondo Ranking!</h1>
    </div>

    <div class="button-container">
        <a href="/Home/Bulgaria" class="btn btn-primary">Bulgaria</a>
        <a href="/Home/Europe" class="btn btn-primary">Europe</a>
        <a href="/Home/World" class="btn btn-primary">World</a>
    </div>
</div>


<style>
    .background-image {
        position: relative;
        overflow: hidden;
        min-height: 100vh;
    }

    .background-image .bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: -1;
    }

    .button-container {
        position: absolute; 
        bottom: -250px;
        left: 50%; 
        transform: translateX(-50%); 
        z-index: 1;
        color: white;
        text-shadow: 1px 1px 4px black;

    }

    .welcome-text {
        color: grey;
        font-weight: bold;
        display: inline-block;
        margin-top: 50px; 
    }

</style>





