@using TaekwondoRanking.Views

@model FilterViewModel

@{
    ViewData["Title"] = "Bulgaria";
}

<h1>Bulgarian Athletes</h1>

<!-- Form for search functionality -->
<form asp-action="Bulgaria" method="get">
    <div class="form-group">
        <!-- Dropdown menu -->
        <label for="category">Select Sub Category</label>
        <select asp-for="SelectedCategory" asp-items="Model.Categories" class="form-control">
            <option value="">-- Select an option --</option>
        </select>
    </div>

    <!-- Blue "Search" button -->
    <button type="submit" class="btn btn-primary">Search</button>
</form>

<!-- Display the selected option message -->
@if (ViewBag.Message != null)
{
    <div class="mt-3 alert alert-info">
        @ViewBag.Message
    </div>
}
